{% extends 'base.html' %}
 {% block content %}
        {% for todo in todo %}
        <div class="d-flex justify-content-center card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">{{todo.title}}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{todo.date}}</h6>
                <p class="card-text">{{todo.content}}</p>
                <a href={% url 'details' todo.id %} > seen </a>
               </div>
       </div>
        {% endfor %} 
 {% endblock content %}
